<div class="row" id="tablet-view">
  <div class="span3" id="posts-section"> 
		<div class="posts-wrapper">
		  <ul class="posts">
		    <% postsIndex.each do |post| %>
		    <li class="post">
		  		<a href="/<%= post[2] %>"><img src="<%= post[3]%>" alt="<%= post[1]%>" title="<%= post[1] %>"></a>
		  		<p><a href="/<%= post[2] %>"><%= post[1]%></a></p>
		    </li>
	      <% end %>
		  </ul>
    </div>
  </div>
	<div class="span9" id="post-container"> 
		<p class="date"><%= post[0]%></p>	
		<hr align="center" class="title-line">
		<p class="title"><%= post[1]%></p>	
		<p class="content">
		  <%= post[4]%>
		</p>
		<ul class="share-buttons">
		  <li>
				<div class="fb-share-button" data-href="http://christ.azika-eros.org/<%= post[2] %>" data-type="button_count"></div>
		  </li>
		  <li>
			<a href="https://twitter.com/share" class="twitter-share-button" data-url="christ.azika-eros.org/<%= post[2] %>" data-via="supm4n" data-lang="fr">Tweeter</a>
		  </li>
		</ul>
		<hr/>
		<p class="signature">
			 <img src="img/christ-azika-eros.png" alt="Christ Azika-Eros's picture" width="75" height="75">
			 Je suis Christ Azika-Eros, entrepreneur français-congolais, marketing manager à Airtel Congo. J'étais récemment en charge du logiciel de la startup <a href="http://www.instabeat.me" target="_blank">Instabeat</a> et j'ai également travaillé chez <a href="http://www.cupofteach.com" target="_blank">Cup of teach</a>. J'ai terminé mes études au sein du Mastère Spécialisé Centrale-ESSEC Entrepreneurs et suis diplomé de Telecom Bretagne en IT et Télécommunications. <br> <br>
		</p>

		<ul class="follow-buttons">
				<li>
						<a href="https://twitter.com/supm4n" class="twitter-follow-button" data-show-count="false" data-lang="fr">Suivre Christ Azika-Eros</a>
				</li>
				<li> 
						<div class="fb-follow" data-href="http://www.facebook.com/home.html5" data-width="400" data-height="65" data-colorscheme="light" data-layout="standard" data-show-faces="true"></div>
				</li>
		</ul>
		<hr/>
		<div class="fb-comments" data-href="http://christ.azika-eros.org/<%= post[2] %>" data-width="660" data-num-posts="10"></div>
	</div>
</div>
