<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
        <meta name="viewport" content="width=960"> 
				<meta name="description" content="<% if defined? post %> <%= post[3] %> <% else %> Christ Azika-Eros is a hacker hustling for Africa's development, teaching Strategy & Management.<% end %>" />
        <meta name="keywords" content="Entrepreneur, Hacker, Christ Azika-Eros, ESSEC, Centrale Paris, Telecom Bretange, Institut Mines-Telecom, IT, Telecommunications." />
        <meta name="author" content="Christ Azika-Eros" />
				<% if defined? classicDescription %>
					<meta property="og:title" content="Christ Azika-Eros - Hacker hustling for Africa's development." />
					<meta property="og:description" content="Christ Azika-Eros is hacker hustling for Africa's development, teaching Strategy & Management." />
				<% else %>
					<meta property="og:title" content="<%= post[1] %> | Christ Azika-Eros" />
					<meta property="og:description" content="<%= post[3] %>" />
				<% end %>
				<meta property="fb:app_id" content="309083042562572" />
				<meta property="fb:admins" content="695743367" />
				<meta property="og:image" content="http://christ.azika-eros.org/img/christ-azika-eros.png" />
				<meta name="google-site-verification" content="UdexztUuAUUokT3pHYFuyAb0BT1Y3LYZ5tHqMuCIvOs" />
				<title><% if defined? classicDescription %>Christ Azika-Eros - Hacker hustling for Africa's development<% else %><%= post[1] %> | Christ Azika-Eros<% end %> </title>
				<link rel="shortcut icon" href="/favicon.ico">
		    <% if defined? index %>
        	<link rel="canonical" href="http://christ.azika-eros.org" />
		    <% end %>
		    <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/tipTip.css" />
        <link rel="stylesheet" href="css/jquery.growl.css" />
        <link rel="stylesheet" href="css/style.css" />
    </head>
    <body >

		<div class="particles-container" <% if defined? index %> id="particles-js" <% end %> >
		    <div class="container" >
						<header <% if defined? index %> class="header-homepage"<% end %> >
		        	<h1 class="name">Christ Azika-Eros</h1> 
		        	<% if defined? index %>
		        		<a href="/blog" id="menu">Blog</a>
		        	<% else %>
		        		<a href="/" id="menu" title="About me">A propos</a>
		        	<% end %>
		        </header>

		        <%= yield %>
	      </div>
     </div>

	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-30934330-1']);
	  _gaq.push(['_setDomainName', 'azika-eros.org']);
	  _gaq.push(['_setAllowLinker', true]);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
	</script>
	<script src="/js/jquery.min.js"></script>
  <script src="/js/jquery.growl.js"></script>
  <script src="/js/velocity.min.js"></script>
  <script src="/js/velocity.ui.min.js"></script>
  <script src="/js/jquery.tipTip.minified.js"></script>
  <script src="/js/particles.min.js"></script>
	<script src="/js/app.js"></script>
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1&appId=309083042562572";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	</body>
</html>
